.footer {
    margin: 20px 10px 40px;
    text-align: end;
    font-size: 14px;
    position: sticky;
}

.footer__link {
    text-decoration: none;
    color: $base-transparent-green;
}

@media screen and (min-width: 768px) {
   .footer {
    font-size: 18px;
   }

}
