.skills {
   min-height: 800px;
   margin-bottom: 20px;
}

.skills__header--container {
 height: 80px;
 background-color: $base-view-more-button;
 color: $base-box-color;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 25px 0;
}

.skills__title {
    font-weight: 200;
}

.skills__content {
    background-color: $base-transparent-gray;
    padding: 25px;
    margin: 20px;
    color: $base-transparent-green;
    display: flex;
    align-items: center;
    border-radius: 10px;
}


@media screen and (min-width: 480px) {
    .skills__content {
        justify-content: center;
    }
    .skills__title {
        font-size: 25px;
    }
    .skills__content {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .skills {
        min-height: 650px;
    }
    .skills__content--box {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 991px) {
    .skills {
        min-height: 550px;
    }
    .skills__content--box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1025px)  {
    /* Styles for Desktops */
    .skills__header--container {
        height: 90px;
        margin: 30px 0;
    }
    .skills__content--box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 10%;
    }
}